<?xml version="1.0" encoding="UTF-8"?>
<!--

    This file is part of RPooli.

    RPooli is free software: you can redistribute it and/or modify
    it under the terms of the Apache License as published by
    The Apache Software Foundation, either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    Apache License for more details.

    You should have received a copy of the Apache License
    along with RPooli.  If not, see <http://www.apache.org/licenses/>.

-->
<document xmlns="http://maven.apache.org/XDOC/2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
    <properties>
        <title>RPooli | Configuration</title>
    </properties>
    <head>
        <script src="https://code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script>
    </head>
    <body>
        <section name="Configuration">
            <p>
                RPooli configuration files follow the
                <code>.properties</code>
                file format.
                You can read more information about the format
                <a href="https://en.wikipedia.org/wiki/.properties">here</a>
                .
            </p>
            <p>
                RPooli is configured by three distinct configuration files that represent three configuration domains:
                <ul>
                    <li><b>R/Rj nodes configuration</b>, including the R code snippet to be run for each new node that is created,</li>
                    <li><b>Pool configuration</b>, including size and time-outs,</li>
                    <li><b>Network configuration</b>, including the host and port of the RMI registry.</li>
                </ul>
            </p>
            <p>
                RPooli loads these files from a detected configuration directory, which is the first file system path
                that exists and is a directory in the following list:
                <ul>
                    <li>
                        <code>/etc/rpooli</code>
                    </li>
                    <li>
                        <code>~/.rpooli</code>
                    </li>
                    <li>
                        <code>/WEB-INF</code>
                        , in the web-app work dir
                    </li>
                    <li>the OS temporary directory</li>
                </ul>
                The last option is obviously a non-production grade fallback.
            </p>
            <p>If any of these configuration files is missing, RPooli will use default values and will be able to start
                anyway.
            </p>
            <p>All the configuration domains of RPooli can be modified via its API. When a configuration domain is
                modified via the API, the corresponding `.properties` file is generated and persisted in the file
                system, at the location where they were initially loaded from or, if none pre-existed, at the detected
                configuration directory.
            </p>
        </section>
        <section name="Examples">
            <p>Here are a examples of the three configuration files:</p>
            <ul>
                <li>
                    <a href="config-examples/rconfig.properties">R/Rj nodes configuration.</a>
                    <pre id="rconfig"></pre>
                </li>
                <li>
                    <a href="config-examples/poolconfig.properties">Pool configuration.</a>
                    <pre id="poolconfig"></pre>
                </li>
                <li>
                    <a href="config-examples/netconfig.properties">Network configuration</a>
                    <pre id="netconfig"></pre>
                </li>
            </ul>
        </section>
        <script type="text/javascript">
            //<![CDATA[
        $('pre#rconfig').load('config-examples/rconfig.properties');
        $('pre#poolconfig').load('config-examples/poolconfig.properties');
        $('pre#netconfig').load('config-examples/netconfig.properties');
        //]]>
        </script>
    </body>
</document>
