<?xml version="1.0" encoding="UTF-8"?>
<!--

    This file is part of RPooli.

    RPooli is free software: you can redistribute it and/or modify
    it under the terms of the Apache License as published by
    The Apache Software Foundation, either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    Apache License for more details.

    You should have received a copy of the Apache License
    along with RPooli.  If not, see <http://www.apache.org/licenses/>.

-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

    <display-name>R Pooli</display-name>

	<context-param>
		<param-name>contextClass</param-name>
		<param-value>
		    org.springframework.web.context.support.AnnotationConfigWebApplicationContext
		</param-value>
  	</context-param>

    <!-- Spring bootstrap -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>eu.openanalytics.rpooli.config</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- Filters -->
    <filter>
        <filter-name>BaseUriInjectionFilter</filter-name>
        <filter-class>eu.openanalytics.rpooli.web.BaseUriInjectionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>BaseUriInjectionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <!-- Uncomment to enable security
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    -->

    <!-- CXF config -->
    <servlet>
        <servlet-name>CxfServlet</servlet-name>
        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
        <init-param>
			<param-name>contextClass</param-name>
			<param-value>
			    org.springframework.web.context.support.AnnotationConfigWebApplicationContext
			</param-value>
      	</init-param>
      	<init-param>
      		<param-name>contextConfigLocation</param-name>
      		<param-value>eu.openanalytics.rpooli.config.JaxRsServerConfig,eu.openanalytics.rpooli.config.CoreBeansConfig</param-value>
      	</init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CxfServlet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <url-pattern>*.raml</url-pattern>
            <url-pattern>*.html</url-pattern>
        </jsp-property-group>
    </jsp-config>

    <!-- RAML support -->
    <mime-mapping>
        <extension>raml</extension>
        <mime-type>application/yaml</mime-type>
    </mime-mapping>
</web-app>
