<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

    <display-name>R Pooli</display-name>

    <!-- Spring bootstrap -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:META-INF/spring/*-beans.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- CXF config -->
    <servlet>
        <servlet-name>CxfServlet</servlet-name>
        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CxfServlet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <!-- RAML support -->
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.raml</url-pattern>
        </jsp-property-group>
    </jsp-config>
    <mime-mapping>
        <extension>raml</extension>
        <mime-type>application/yaml</mime-type>
    </mime-mapping>

    <!-- Filters -->
    <filter>
        <filter-name>BaseUriInjectionFilter</filter-name>
        <filter-class>eu.openanalytics.rpooli.web.BaseUriInjectionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>BaseUriInjectionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
